@charset "utf-8";

.frame {
  padding: 20px 0;
  background-color: #eee;
  display: flex;
}

.frame .box {
  width: calc(25% - 20px);
  height: 240px;
  margin: 0 10px;
  background-color: #ffa;
  background-position: 50% 50%;
  background-size: cover;
}

.frame .box:nth-child(1) {
  background-image: url(../img/snoopy_01.png);
}
.frame .box:nth-child(2) {
  background-image: url(../img/snoopy_02.png);
}
.frame .box:nth-child(3) {
  background-image: url(../img/snoopy_03.png);
}
.frame .box:nth-child(4) {
  background-image: url(../img/snoopy_04.png);
}
